<div class="container font lento faceIn margen-top">
    <div class="row">
        <div class="col">
            <div class="jumbotron jumboEstilo">
                <h1 class="display-4">¡Bienvenidos metal-maniáticos!</h1>
                <p class="lead">Esta es una página donde podrás encontrar tus vocalistas preferidos de Havy Metal (En realidad son los favoritos de Eunice Fiorella).
                    <br/>
                    Si tienes algunas sugerencia de vocalistas de havy metal, dejad su sugerencia en la puta que te pario!!.
                </p>
                <hr class="my-4">
                <p> uses utility classes for typography and spacing to space content out within the larger container.</p>
                <a class="btn btn-danger btn-lg" href="#" role="button">Learn more</a>
              </div>
        </div>
    </div>
</div>


