/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Rajdhani:wght@700&display=swap');
.font{
    font-family: 'Fjalla One', sans-serif;
}
.fast{
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.lento{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode: both;
}
@keyframes faceIn{
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }

}
.faceIn{
    animation-name: faceIn;
}
.img-tamaño{
    height: 500px;
}
.margen-top{
    margin-top: 80px;
}
.texto-tarjeta{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.btn-subir{
    position: fixed;
    right: 40px;
    bottom: 40px;
    border-radius: 50%;
    padding: 16px 25px 16px 25px;
    border: none;
    outline: none;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
    clip-path: none;
}